.board {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 5px;
}
.board div {
    width: 100px;
    height: 100px;
    font-size: 2.5rem;
    text-align: center;
    line-height: 100px;
    background: #ddd;
    cursor: pointer;
}

